
{% load static %}
<html>
  <head>
    <title>Hello World</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script src="{% static 'javascript/app.js' %}"></script>   
  </head>
<body>
    <div class='board-container'>
        <div class="num-container-header"></div>
        <div class="left-num-header">
            <div>A</div>
            <div>B</div>
            <div>C</div>
            <div>D</div>
            <div>E</div>
            <div>F</div>
            <div>G</div>
            <div>H</div>
        </div>
        <div class="right-num-header">

            <div class="letter-header">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
            </div>
            <div class='board'>
                <div class = "row" row="A">
                    <div class = "col" column="1"></div>
                    <div class = "col" column="2"></div>
                    <div class = "col" column="3"></div>
                    <div class = "col" column="4"></div>
                    <div class = "col" column="5"></div>
                    <div class = "col" column="6"></div>
                    <div class = "col" column="7"></div>
                    <div class = "col" column="8"></div>
                </div>
                <div class = "row" row="B">
                    <div class = "col" column="1"></div>
                    <div class = "col" column="2"></div>
                    <div class = "col" column="3"></div>
                    <div class = "col" column="4"></div>
                    <div class = "col" column="5"></div>
                    <div class = "col" column="6"></div>
                    <div class = "col" column="7"></div>
                    <div class = "col" column="8"></div>
                </div>
                <div class = "row" row="C">
                    <div class = "col" column="1"></div>
                    <div class = "col" column="2"></div>
                    <div class = "col" column="3"></div>
                    <div class = "col" column="4"></div>
                    <div class = "col" column="5"></div>
                    <div class = "col" column="6"></div>
                    <div class = "col" column="7"></div>
                    <div class = "col" column="8"></div>
                </div>
                <div class = "row" row="D">
                    <div class = "col" column="1"></div>
                    <div class = "col" column="2"></div>
                    <div class = "col" column="3"></div>
                    <div class = "col" column="4"></div>
                    <div class = "col" column="5"></div>
                    <div class = "col" column="6"></div>
                    <div class = "col" column="7"></div>
                    <div class = "col" column="8"></div>
                </div>
                <div class = "row" row="E">
                    <div class = "col" column="1"></div>
                    <div class = "col" column="2"></div>
                    <div class = "col" column="3"></div>
                    <div class = "col" column="4"></div>
                    <div class = "col" column="5"></div>
                    <div class = "col" column="6"></div>
                    <div class = "col" column="7"></div>
                    <div class = "col" column="8"></div>
                </div>
                <div class = "row" row="F">
                    <div class = "col" column="1"></div>
                    <div class = "col" column="2"></div>
                    <div class = "col" column="3"></div>
                    <div class = "col" column="4"></div>
                    <div class = "col" column="5"></div>
                    <div class = "col" column="6"></div>
                    <div class = "col" column="7"></div>
                    <div class = "col" column="8"></div>
                </div>
                <div class = "row" row="G">
                    <div class = "col" column="1"></div>
                    <div class = "col" column="2"></div>
                    <div class = "col" column="3"></div>
                    <div class = "col" column="4"></div>
                    <div class = "col" column="5"></div>
                    <div class = "col" column="6"></div>
                    <div class = "col" column="7"></div>
                    <div class = "col" column="8"></div>
                </div>
                <div class = "row" row="H">
                    <div class = "col" column="1"></div>
                    <div class = "col" column="2"></div>
                    <div class = "col" column="3"></div>
                    <div class = "col" column="4"></div>
                    <div class = "col" column="5"></div>
                    <div class = "col" column="6"></div>
                    <div class = "col" column="7"></div>
                    <div class = "col" column="8"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>